html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #fff;
}

.layout {
  width: 1000px;
  margin: 100px auto;
  text-align: center;
}
.row {
  width: 100;
  position: relative;
  clear: both;

}
.cell {
  float: right;
  display: block;
  width: 33%;
  color: #fff;
}
.center {
  text-align: center;
}
#newImages {
  height: 300px;
  position: relative;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: -150px;
}
img.masked {
  position: absolute;
  background-color: #fff;
  border: 1px solid #babbbd;
  padding: 10px;
  box-shadow: 1px 1px 1px #babbbd;
  margin: 10px auto 0;
}
#player {
  width: 320px;
  height: 240px;
  margin: 10px auto;
  border: 1px solid #babbbd;
}
.UIInput {
  width:580px; 
  height:400px;
}
canvas {
  width: 320px;
  height: 240px;
  margin: 10px auto;
  border: 1px solid #babbbd;
  background-color: #fff;
  back
}
#capture-btn {
  width: 130px;
  margin: 0 auto;
}
#pick-image {
  margin-top: 10px;
}

.btn.btn-primary {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-select {
	display: inline-block;

	height: calc(2.25rem);
	padding: .375rem 1.75rem .375rem .75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 8px 10px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#leftboxdown {
  margin-top: 10px;
}
